{% load staticfiles %}
<html>
        <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/notices.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css">

                <div class="page-header">
                    <h2><a href="/">Notices and Events</a></h2>



                    <form>
                        <div class="content-buttons">
                                <!-- Buttons to redirect notices, events, etc...-->
                            <button><a href="{% url 'notices' %}">Notices</a></button>
                            <button><a href="{% url 'events' %}">Events</a></button>
                            <button><a href="{% url 'index' %}">All</a></button>

                            {% if perms.notices.add_notices %}
                            <button><a href="{% url 'notice_new' %}">Create notice</a></button>
                            <button><a href="{% url 'notice_new_v2' %}">Create notice from view</a></button>
                            <button><a href="{% url 'event_new_v2' %}">Create event from view</a></button>
                            {% endif %}

                            {% if user.is_authenticated %}
                            <p class="login-user">Hello {{ user.username }}(<a href="{% url 'logout' %}">Log out</a>)</p>
                            {% else %}
                            <button><a href="{% url 'login' %}">Login</a></button>
                            {% endif %}
                        </div>
                    </form>
                </div>
        </head>

	<body>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>