{% load static %}
<html>

<head>
    <div class="page-header">
        <h3>Notices and events</h3>
    </div>
</head>

<body>
    <form>
        <!-- Buttons to redirect notices, events, etc...-->
        <button><a href="{% url 'notices' %}">Notices</a></button>
        <button><a href="{% url 'events' %}">Events</a></button>
        <button><a href="{% url 'index' %}">All</a></button>
        <button><a href="{% url 'notice_new' %}">Create notice</a></button>
        <button><a href="{% url 'notice_new_v2' %}">Create notice from view</a></button>
    </form>

         <h3>Notices</h3>
            {% if latest_notice_list %}
                <ul>
                    <!-- loop that collect the notices created-->
                {% for notice in latest_notice_list %}
                    <p><li><a href="/notices/{{ notice.id }}/">{{ notice.title }}</a></li>
                    <a href="/notices/{{ notice.id }}/">{{ notice.description | truncatechars:60 }}</a></p>
                {% endfor %}
                </ul>
            {% else %}
                <p>No notices are available.</p>
            {% endif %}

         <h3>Events</h3>
            {% if latest_event_list %}
                <ul>
                    <!-- loop that collect the events created-->
                {% for event in latest_event_list %}
                    <p><li><a href="/event/{{ event.id }}/">{{ event.title }}</a></li>
                    <a href="/event/{{ event.id }}/">{{ event.description | truncatechars:60 }}</a></p>
                {% endfor %}
                </ul>
            {% else %}
                <p>No events are available.</p>
            {% endif %}


</body>

</html>